---

- name: "Display the version of Trellix ENS FW"
  ansible.builtin.debug:
    msg: "Installation version of Trellix ENS FW : {{ trellix_ens_fw_version }}"

- name: "Include OS-specific variables"
  ansible.builtin.include_vars: "{{ item }}"
  loop:
    - "main.yml"
    - "{{ ansible_os_family }}.yml"

- name: "Install dependencies for Trellix ENS FW"
  ansible.builtin.package:
    name: "{{ _trellix_ens_fw_dependencies }}"
    state: "present"

- name: "Gather package facts"
  ansible.builtin.package_facts:
    manager: auto

- name: "Check current version of Trellix ENS FW"
  ansible.builtin.debug:
    msg: "The current version of Trellix ENS FW is : {{ ansible_facts.packages[_trellix_ens_fw_package][0].version }}"
  when: 
    - _trellix_ens_fw_package in ansible_facts.packages
    - ansible_facts.packages[_trellix_ens_fw_package][0].version is version(trellix_ens_fw_version, '>=')

- name: "Install Trellix ENS FW"
  when: 
    - _trellix_ens_fw_package not in ansible_facts.packages or ansible_facts.packages[_trellix_ens_fw_package][0].version is version(trellix_ens_fw_version, '<')
  block:
    - name: "Create Trellix ENS FW temporary directory"
      ansible.builtin.file:
        path: "{{ _trellix_ens_fw_src_extract_path }}"
        state: "directory"
        mode: "0755"

    - name: "Unarchive Agent Packages"
      ansible.builtin.unarchive:
        src: "{{ trellix_ens_fw_src_path }}/{{ trellix_ens_fw_version }}/McAfeeFW.zip"
        dest: "{{ _trellix_ens_fw_src_extract_path }}"
        remote_src: yes

    - name: "Set execute permision on Trellix ENS FW installation script"
      ansible.builtin.file:
        path: "{{ _trellix_ens_fw_src_extract_path }}/install-mfefw.sh"
        mode: "0744"

    - name: "Install Trellix ENS FW"
      ansible.builtin.command: "{{ _trellix_ens_fw_src_extract_path }}/install-mfefw.sh silent"
      args:
        chdir: "{{ _trellix_ens_fw_src_extract_path }}"
      changed_when: false
      register: trellix_ens_fw_install_output
      retries: 5
      delay: 10
      until: trellix_ens_fw_install_output.rc == 0
      
  # always:
  #   - name: "Clean temporary McAfee Agent installation directory"
  #     ansible.builtin.file:
  #       path: "{{ _trellix_ens_fw_src_extract_path }}"
  #       state: "absent"